<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="The Nonviolent Medicaid Army of the poor is a growing militant force of the poor and dispossessed, united across identities, regions, races and issues, modeled after King’s ‘nonviolent army of the poor’ from the first Poor People’s Campaign of 1968.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" property="og:title" content="{{ title }}">
    <meta name="type" property="og:type" content="website">
    <meta name="image" property="og:image" content="{{ preview_image | url}}">
    <!-- Design by Eric Schulte, source at https://github.com/eschulte/nonviolent-medicaid-army. -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="{{ "/style.css"|url }}">
    <link rel="icon" href="{{ "/favicon.ico" |url }}">
  </head>
  <body id="top" class="w3-dark-grey">

    {{ content }}

  <div class="sidebar-padded w3-container w3-center">
    <p class="w3-medium">
      <span>For more information and to get involved contact:</span>
      <a href="mailto:putpeoplefirstpa@gmail.com">putpeoplefirstpa@gmail.com</a>
    </p>
    <a href="{{ "/"|url }}">
      <img src='{{ "/img/national-logo-0.jpg" | url }}' alt="National Logo" style="max-width:100%; max-height: 300px;">
    </a>
  </div>
  </body>
</html>
