---
layout: default
---

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-display-middle-high w3-text-light-gray w3-center">
    <h1 class="w3-jumbo">Nonviolent Medicaid Army</h1>
  </div>
</header>

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-small w3-hide-small w3-center w3-text-white" style="background:transparent; top:0px; left:0px;">
  <!-- Avatar image in top left corner -->
  <a href="#"><img src='{{ "/img/national-logo-1-alpha.png" | url }}' alt="logo" style="width:100%"></a>
    {% for anchor in anchors %}
    <a href="#{{ anchor.link|url }}" class="w3-bar-item"><i class="fas {{ anchor.icon }} w3-xxlarge"></i><div><p>{{ anchor.text |upcase }}</p></div></a></br>
    {% endfor %}
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-opacity w3-hover-opacity-off w3-center w3-small">
    {% for anchor in anchors %}
    <a href="#{{ anchor.link|url }}" class="w3-bar-item w3-button w3-text-white"><div>{{ anchor.text |upcase }}</div></a>
    {% endfor %}
  </div></a>
</div>

<div class="sidebar-padded w3-dark-grey main-content">
  {{ content }}
</div>

    <div class="sidebar-padded w3-container w3-padding-64 w3-dark-grey w3-center" id="wedding">
      <div class="w3-content">
        <div class="slideshow-container">
          {% for slide in slides %}
          <div class="mySlides fade">
            <div class="numbertext">{{ forloop.index }} / {{ slides.length }}</div>
            <img src='{{ slide | url }}' alt="slide show image {{ forloop.index }}" style="max-height: 600px; max-width: 100%;">
          </div>
          {% endfor %}
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        <div style="text-align:center">
          {% for slide in slides %}
          <span class="dot" onclick="currentSlide({{ forloop.index }})"></span>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>

<script>
// Missing in some older browsers
document.getElementsByClass = function(needle) {
  function acceptNode(node) {
    if (node.hasAttribute("class")) {
      var c = " " + node.className + " ";
       if (c.indexOf(" " + needle + " ") != -1)
         return NodeFilter.FILTER_ACCEPT;
    }
    return NodeFilter.FILTER_SKIP;
  }
  var treeWalker = document.createTreeWalker(document.documentElement,
      NodeFilter.SHOW_ELEMENT, acceptNode, true);
  var outArray = new Array();
  if (treeWalker) {
    var node = treeWalker.nextNode();
    while (node) {
      outArray.push(node);
      node = treeWalker.nextNode();
    }
  }
  return outArray;
}
</script>

<!-- Carousel from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow -->
<script>
var slideIndex = 1;
var clicked = false;
showSlides(slideIndex);

function plusSlides(n) {
  clicked = true;
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  clicked = true;
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  if (slides[slideIndex-1] && slides[slideIndex-1].style) {
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  } else {
    slides[slides.length].style.display = "block";
    dots[slides.length].className += " active";
  }
}

function cycle(){
    if(! clicked){
        showSlides(slideIndex++);
        setTimeout(cycle, 4000);
    }
}
cycle();
</script>
